---
import Calendario from "./calendario/Calendario.astro"
---
    
<div class="hero">
  <hgroup class="hero__hgroup">
    <h1><span>Hoy es</span> <time id="hoy-es-si"></time></h1>
    <p>según el</p>
    <cite>Calendario Mundial</cite>
  </hgroup>
  
  <div class="hero__textos">
      <p>¿Imaginas un calendario simple, ordenado y equilibrado?</p>
      <p>El Calendario Mundial es una propuesta diseñada para superar
      el calendario actual, simplificando nuestro sistema de tiempo.</p>
      
  </div> 
  <a class="hero__a" href="/about">Descubrir más</a>          
</div>
<Calendario />




<style>
  .hero {
    /* 📱 Estilos base: móvil (≤600px) */
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #fff;
    justify-content: center;
    align-items: center;


    /* 📲 Tablet: 601px – 1024px */
    @media (min-width: 601px) and (max-width: 1024px) {
    } 
    /* 💻 Desktop: ≥1025px */
    @media (min-width: 1025px) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .hero__hgroup {
    margin-bottom: 1rem;
    span {
      display: block;
      font-size: 1rem;
    }
    cite {
      font-size: 2rem;
    }
  }

  .hero__a {
    background-color: #eb5d1e;
    display: inline-block;
    text-align: center;
    text-justify: center;
    color: #f9f9f9;
    font-family: "Playfair Display";
    text-decoration: none;
    border-radius: 25px;
    margin-top: 3rem;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  



#hoy-es-no {
  text-decoration: line-through;
}

#hoy-es-si {
  font-size: 2rem;
}

.hoy-es-si p {
  font-size: 1rem;
}



</style>

<script>
  function calcularDiaOrdinal(fecha) {
  const diaUno = new Date(fecha.getFullYear(), 0, 1);
  const diferenciaMs = fecha - diaUno;
  return Math.floor(diferenciaMs / (1000 * 60 * 60 * 24)) + 1;
}

const hoy = new Date();
const diaOrdinal = calcularDiaOrdinal(hoy);
const diaOrdinalB = diaOrdinal - 1;
const año = hoy.getFullYear();
let inicioMes;
let numeros = [0, 31, 61, 91, 122, 152, 182, 213, 243, 273, 304, 334, 365];
let diaSemana = "";
let diaSemanaB = "";
const diaExtra = document.getElementById("dia-extra");

function esBisiesto(año) {
  return (año % 4 === 0 && año % 100 !== 0) || año % 400 === 0;
}

if (esBisiesto(año)) {
  numeros = [0, 31, 61, 91, 122, 152, 183, 214, 244, 274, 305, 335, 366];
}
// Función para obtener el mes a partir del día ordinal
function obtenerMes(diaOrdinal) {
  for (let i = 1; i < numeros.length; i++) {
    if (diaOrdinal > numeros[i - 1] && diaOrdinal <= numeros[i]) {
      inicioMes = numeros[i - 1];
      return i;
    }
  }
  return null;
}
const diasSemana = [
  "Lunes",  "Martes",   "Miércoles",
  "Jueves",   "Viernes",   "Sábado",
  "Domingo",
];

const nombreMeses = [
  "Enero",   "Febrero",   "Marzo",
  "Abril",   "Mayo",   "Junio",
  "Julio",   "Agosto",   "Septiembre",
  "Octubre",   "Noviembre",   "Diciembre",
];

let mesMundial = nombreMeses[obtenerMes(diaOrdinal) - 1];

let diaMes = diaOrdinal - inicioMes;

diaSemana = diasSemana[(diaOrdinal - 1) % 7];
diaSemanaB = diasSemana[(diaOrdinalB - 1) % 7];

const fechaMundial = document.getElementById("hoy-es-si");
if (esBisiesto(año)) {
  if (diaOrdinal < 183) {
    fechaMundial.textContent = `${diaSemana} ${diaMes} de ${mesMundial} de ${año}`;
  } else if (diaOrdinal === 183) {
    fechaMundial.textContent = `el día del Año Bisiesto de ${año}`;
  } else if (diaOrdinal > 183 && diaOrdinal < 366) {
    fechaMundial.textContent = `${diaSemanaB} ${diaMes} de ${mesMundial} de ${año}`;
  } else if (diaOrdinal === 366) {
    fechaMundial.textContent = `el día del Mundo de ${año}`;
  }
} else {
  if (diaOrdinal === 365) {
    fechaMundial.textContent = `el día del Mundo de ${año}`;
  } else {
    fechaMundial.textContent = `${diaSemana} ${diaMes} de ${mesMundial} de ${año}`;
  }
}
</script>