---
import Trimestre from "./trimestre.astro"
---
    
    <div class="entrada-izquierda">
            <div class="hoy-es-si"><p>Hoy es</p><span id="hoy-es-si"></span></div>
            <div class="titulo-container">
                <p class="pre-titulo">según el</p>
                <h1 class="titulo">Calendario Mundial</h1></div>
        
          <div class="palique">
            <p>¿Imaginas un calendario simple, ordenado y equilibrado?</p>
            <p>El Calendario Mundial es una propuesta diseñada para superar
            el calendario actual, simplificando nuestro sistema de tiempo.</p>
            <a class="boton-inside" href="">Descubrir más</a>
            
          </div>           
        </div>
     <div class="entrada-derecha">     
            <p id="year"></p>
      <div class="calendario-chico">
        
        <Trimestre mesUno="Enero" mesDos="Febrero" mesTres="Marzo" />
        <Trimestre mesUno="Abril" mesDos="Mayo" mesTres="Junio" />
        <Trimestre mesUno="Julio" mesDos="Agosto" mesTres="Septiembre" />
        <Trimestre mesUno="Octubre" mesDos="Noviembre" mesTres="Diciembre" />
        
      </div>
    </div> 
<script>
  function calcularDiaOrdinal(fecha) {
  const diaUno = new Date(fecha.getFullYear(), 0, 1);
  const diferenciaMs = fecha - diaUno;
  return Math.floor(diferenciaMs / (1000 * 60 * 60 * 24)) + 1;
}
const hoy = new Date();
const diaOrdinal = calcularDiaOrdinal(hoy);
const diaOrdinalB = diaOrdinal - 1;
const año = hoy.getFullYear();
let inicioMes;
let numeros = [0, 31, 61, 91, 122, 152, 182, 213, 243, 273, 304, 334, 365];
let diaSemana = "";
let diaSemanaB = "";
const diaExtra = document.getElementById("dia-extra");

function esBisiesto(año) {
  return (año % 4 === 0 && año % 100 !== 0) || año % 400 === 0;
}

if (esBisiesto(año)) {
  numeros = [0, 31, 61, 91, 122, 152, 183, 214, 244, 274, 305, 335, 366];
}
// Función para obtener el mes a partir del día ordinal
function obtenerMes(diaOrdinal) {
  for (let i = 1; i < numeros.length; i++) {
    if (diaOrdinal > numeros[i - 1] && diaOrdinal <= numeros[i]) {
      inicioMes = numeros[i - 1];
      return i;
    }
  }
  return null;
}
const diasSemana = [
  "Lunes",
  "Martes",
  "Miércoles",
  "Jueves",
  "Viernes",
  "Sábado",
  "Domingo",
];

const nombreMeses = [
  "Enero",
  "Febrero",
  "Marzo",
  "Abril",
  "Mayo",
  "Junio",
  "Julio",
  "Agosto",
  "Septiembre",
  "Octubre",
  "Noviembre",
  "Diciembre",
];

let mesMundial = nombreMeses[obtenerMes(diaOrdinal) - 1];

let diaMes = diaOrdinal - inicioMes;

diaSemana = diasSemana[(diaOrdinal - 1) % 7];
diaSemanaB = diasSemana[(diaOrdinalB - 1) % 7];

const fechaMundial = document.getElementById("hoy-es-si");
if (esBisiesto(año)) {
  if (diaOrdinal < 183) {
    fechaMundial.textContent = `${diaSemana} ${diaMes} de ${mesMundial} de ${año}`;
  } else if (diaOrdinal === 183) {
    fechaMundial.textContent = `el día del Año Bisiesto de ${año}`;
  } else if (diaOrdinal > 183 && diaOrdinal < 366) {
    fechaMundial.textContent = `${diaSemanaB} ${diaMes} de ${mesMundial} de ${año}`;
  } else if (diaOrdinal === 366) {
    fechaMundial.textContent = `el día del Mundo de ${año}`;
  }
} else {
  if (diaOrdinal === 365) {
    fechaMundial.textContent = `el día del Mundo de ${año}`;
  } else {
    fechaMundial.textContent = `${diaSemana} ${diaMes} de ${mesMundial} de ${año}`;
  }
}
</script>
<style>

.entrada-izquierda {
  width: 80%;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  color: #fff;
}

@media (max-width: 768px) {
  .entrada-izquierda {
    width: 100%;
    height: 100vh;
    .hoy-es-si {
      margin-inline: 2rem;
    }
    .titulo-container {
      
      .titulo {
        margin-inline: 2rem;
      }
    }
    .palique a {
      width: auto;
    }
  }
}

.titulo-container {
  margin: 1rem;
}
.pre-titulo {
  justify-self: center;
}
.titulo {
  font-size: 3rem;
  font-family: "Playfair Display";
}

.palique {
  font-size: 1.1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.palique h3 {
  text-align: center;
  margin-bottom: 0.8rem;
}

.palique a {
  background-color: #eb5d1e;
  display: inline-block;
  width: 20%;
  height: 160%;
  text-align: center;
  text-justify: center;
  color: #f9f9f9;
  font-family: "Playfair Display";
  text-decoration: none;
  border-radius: 25px;
  margin-top: 3rem;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#hoy-es-no {
  text-decoration: line-through;
}

#hoy-es-si {
  font-size: 2rem;
}

.hoy-es-si p {
  font-size: 1rem;
}
.entrada-derecha {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  margin-top: 0.1rem;
  right: 3rem;
}
@media (max-width: 768px) {
  .entrada-derecha {
    display: none;
    width: 100%;
    height: 100vh;
    position: relative;
    right: 0;
  }
}
#year {
  font-size: 2.5rem;
  color: #f9f9f9;
  font-family: "Playfair Display";
}

.calendario-chico {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: lato;
  background-color: #f9f9f9;
  padding-left: 2rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .calendario-chico {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0;
    justify-items: center;
    justify-content: center;
  }
}

</style>